@{
    ViewData["Title"] = "Detalle de Producto";
    string nombreProducto = ViewBag.NombreProducto;
    string tipoProducto = ViewBag.TipoProducto;
    string subtipoProducto = ViewBag.SubtipoProducto;
    string nombreMarca = ViewBag.NombreMarca;
    string rutaImagen = ViewBag.RutaImagen;
    int IdProducto = ViewBag.IdProducto;

    var Presentacion = new AgroservicioCuxil.Models.PresentacionProducto();
    if (ViewBag.Presentacion != null)
    {
        Presentacion = (AgroservicioCuxil.Models.PresentacionProducto)ViewBag.Presentacion;
    }

    var DetallePresentacion = new AgroservicioCuxil.Models.DetallePresentacionProducto();
    if (ViewBag.DetallePresentacion != null)
    {
        DetallePresentacion = (AgroservicioCuxil.Models.DetallePresentacionProducto)ViewBag.DetallePresentacion;
    }
}
<section class="content">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h2 class="product-name d-inline-block d-md-none">@nombreProducto</h2>

                    @if (string.IsNullOrEmpty(Presentacion.RutaImagen))
                    {
                        <form method="post" action="/Productos/AgregarImagenPresentacion" enctype="multipart/form-data">
                            <input type="hidden" name="Id" value="@Presentacion.Id" />
                            <input type="hidden" name="idProducto" value="@IdProducto" />

                            <div class="form-group">
                                <label for="imagen">Imagen</label>
                                <input type="file" class="form-control-file" id="imagen" name="Imagen" accept="image/*" required>
                            </div>

                            <button type="submit" class="btn btn-primary btn-icon">
                                <i class="fas fa-image"></i> Agregar Imagen
                            </button>
                        </form>
                    }
                    else
                    {
                        <img src="/ImagenesProductos/@Presentacion.RutaImagen" class="product-image" alt="Product Image">

                        <form method="post" action="/Productos/AgregarImagenPresentacion" enctype="multipart/form-data">
                            <input type="hidden" name="Id" value="@Presentacion.Id" />
                            <input type="hidden" name="idProducto" value="@IdProducto" />

                            <div class="form-group">
                                <label for="imagen">Nueva Imagen</label>
                                <input type="file" class="form-control-file" id="imagen" name="Imagen" accept="image/*" required>
                            </div>

                            <button type="submit" class="btn btn-primary btn-icon">
                                <i class="fas fa-sync"></i> Actualizar Imagen
                            </button>
                        </form>
                    }
                </div>

                <div class="col-12 col-md-6">
                    <h2 class="product-name my-3">@nombreProducto</h2>
                    <p>Descripción del producto.</p>
                    <hr>

                    <h4>Detalles del Producto</h4>

                    <div class="product-details">
                        <div class="detail">
                            <i class="fas fa-tag text-warning"></i>
                            <span class="detail-label">Marca:</span>
                            <span class="detail-value">@nombreMarca</span>
                        </div>
                        <div class="detail">
                            <i class="fas fa-tags text-success"></i>
                            <span class="detail-label">Tipo de Producto:</span>
                            <span class="detail-value">@tipoProducto</span>
                        </div>

                        <div class="detail">
                            <i class="fas fa-tag text-warning"></i>
                            <span class="detail-label">Precio:</span>
                            <span class="detail-value">@Presentacion.Precio</span>
                        </div>

                        <div class="detail">
                            <i class="fas fa-cubes text-info"></i>
                            <span class="detail-label">Existencia:</span>
                            <span class="detail-value">@Presentacion.Existencia</span>
                        </div>
                        <hr />
                        <div class="detail">
                            <i class="fas fa-cubes text-info"></i>
                            <span class="detail-label">Pesticida:</span>
                            <span class="detail-value">@subtipoProducto</span>
                        </div>

                      
                        
                        @if (Presentacion.Precio == 0)
                        {
                            <div class="detail">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDetallePresenetacion">
                                     <i class="fas fa-plus-circle"></i> Agregar Detalles
                                </button>
                            </div>
                        }
                        else
                        {
                            <div class="detail">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDetallePresenetacion">
                                    <i class="fas fa-sync"></i>
                                    Actualizar Detalles
                                </button>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>




<div>
    <input type="hidden" id="IdProducto" value="@IdProducto" />

    @using (Html.BeginForm("ActualizarPresentacionProducto", "Productos", FormMethod.Post))
    {
        <div class="modal fade" id="modalDetallePresenetacion" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                <div class="modal-content">
                    <input type="hidden" id="IdPresentacion" name="IdPresentacion" value="@Presentacion.Id" />
                    <input type="hidden" id="IdProducto" name="IdProducto" value="@IdProducto" />
                    <div class="modal-header bg-primary">
                        <h5 class="modal-title" id="modalLabel">Presentaciones</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="Precio">Precio:</label>
                            <input required type="number" step="any" name="Precio" class="form-control" title="Precio" />
                        </div>
                        <div class="form-group">
                            <label for="Existencia">Existencia:</label>
                            <input required type="number" step="any" name="Existencia" class="form-control" title="Existencia" />
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section styles{
    <link href="~/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
}

    @section scripts{
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script>
        var creacionExito = '@TempData["CreacionExito"]';
        var error = '@TempData["Error"]';
        var mensaje = '@TempData["Mensaje"]';

        if (creacionExito === "Si") {
            Swal.fire({
                title: "",
                text: mensaje,
                icon: "success"
            });
        }

        if (error === "Si") {
            Swal.fire({
                title: "Error",
                text: mensaje,
                icon: "error"
            });
        }
    </script>
}
