@model List<AgroservicioCuxil.Models.TipoProducto>;

@{
    ViewData["Title"] = "Lista de tipo de productos";
}

<div class="container">
    <h2>Lista de tipos de productos</h2>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <div class="text-left ">
                        <button class="btn btn-primary" data-toggle="collapse" data-target="#crearAcordeon">Crear</button>
                    </div>
                </div>
                <div id="crearAcordeon" class="collapse">
                    <div class="card-body">
                        <form asp-action="CrearTipoProducto" method="post">
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" id="nombre" name="Nombre" class="form-control" />
                            </div>
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row card">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var TipoProducto in Model)
                    {
                        <tr>
                            <td>@TipoProducto.Nombre</td>
                            <td>
                                <button class="btn btn-primary editar-btn" data-id="@TipoProducto.Id" data-nombre="@TipoProducto.Nombre">Editar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal para editar -->
<div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarModalLabel">Editar TipoProducto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="editarForm" action="@Url.Action("EditarTipoProducto", "Productos")" method="post">
                <div class="modal-body">
                    <input type="hidden" id="TipoProductoId" name="Id" />
                    <div class="form-group">
                        <label for="nuevoNombre">Nuevo Nombre:</label>
                        <input type="text" class="form-control" id="nuevoNombre" name="Nombre" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section styles {
    <link href="~/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
}

    @section scripts {
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>

    <script>
        $(document).ready(function () {
            // Botón Editar
            $(".editar-btn").click(function () {
                var TipoProductoId = $(this).data("id");
                var nombreActual = $(this).data("nombre");
                $("#TipoProductoId").val(TipoProductoId);
                $("#nuevoNombre").val(nombreActual);
                $("#editarModal").modal("show");
            });
        });
    </script>

    <script>
        var creacionExito = '@TempData["CreacionExito"]';
        var error = '@TempData["Error"]';
        var mensaje = '@TempData["Mensaje"]';

        if (creacionExito === "Si") {
            Swal.fire({
                title: "",
                text: mensaje,
                icon: "success"
            });
        }

        if (error === "Si") {
            Swal.fire({
                title: "Error",
                text: mensaje,
                icon: "error"
            });
        }
    </script>
}
